mat-card{
  margin: 0;
  padding: 0;
}
.game-description-card{

  margin: 1em;
  border-radius: 1em;
  overflow: hidden;
  min-width: 20em;
  .img-description-wrapper{
    display: flex;
    border-bottom: 1px solid rgb(206, 206, 206);
    height: 8em;
    .game-image{
      width:8em;
      height:100%;
      object-fit: fill;
      img{
        width: 100%;height: 100%;
      }
    }
  }
  .game-description{
    flex: 1;
    margin: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box!important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .game-activity-info{
    text-align: center;
    font-weight: bold;
    padding: 1em;
    .game-hour{
    }
    .score{

    }
  }
}
