<div class="game-description-card mat-elevation-z4">
  <div class="img-description-wrapper" >
    <div class="game-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKg-a3iewLrQiOXOQ_3vdElyVyaL937oQbgw&usqp=CAU" alt="">
    </div>
    <div class="game-description mat-body-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta necessitatibus quis sunt. Exercitationem culpa ipsam eveniet nobis distinctio quis beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam tempora quasi itaque dolor commodi beatae quia ut aliquam molestiae numquam temporibus quo aperiam ducimus corporis obcaecati officia sequi, illum fugit.
    </div>
  </div>
  <div class="game-activity-info">
    <div class="game-hour">Last play hours : 45</div>
    <div class="score">Total: 55</div>
  </div>
</div>
