@use '../abstracts/mixins' as mixin;

.cst-bottom-nav{
  display: none;
  // display: flex;
  margin: 0 1em 0.5em;
  padding: 0.3em 2em;
  min-width: 238px;
  justify-content: space-between;
  border-radius: 30px;

  .active .mat-icon{
      color: inherit;
  }
  .n-link{
      cursor: pointer;
      display: flex;
      padding: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}

@include mixin.for-phone-only{
  .cst-bottom-nav{
    display: flex;
  }
}

@include mixin.for-tablet-portrait-only{
  .cst-bottom-nav{
    display: flex;
  }
}
