<div class="main-congrats-container">
    <div class="container">
        <div class="congrats-greet-wrapper">
            <h2 class="congrats-greet mat-display-1" i18n>Congrats!</h2>
            <h3 class="mat-small" i18n>you unlocked the badge & earn</h3>
            <h3 class="mat-small" i18n>100 free coins</h3>
        </div>
        <button mat-flat-button i18n> <mat-icon>share</mat-icon> Share the Results</button>
        <button mat-raised-button color="primary" i18n>Take new Quize</button>
    </div>
</div>