// .main-congrats-container{
//     width: 100%;
//     height: 100%;
//     background-color: #5959ad;
//     background-image: radial-gradient(#ffffff -80%, #5959ad 91%);
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .congrats-page{
//   .congrats-greet-wrapper{
//       text-align: center;
//       margin-bottom: 3.6em;
//       .congrats-greet,h3{
//           margin: 0;
//       }

//   }
//   button{
//       margin: 0.2rem 0;
//       width: 100%;
//   }
// }
