
<div class="mini-container user-activity">
    <h1 class="mat-h1" i18n>Welcome Player</h1>
    <div class="user-subject-card" *ngFor="let item of userSelectedSubjects" [routerLink]="['/quiz/question-display']">
        <div class="user-selected-subject">
            <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt=""/>
        </div>
        <div class="user-progress-chart">
            <canvas baseChart
                [data]="pieChartData"
                [chartType]="pieChartType"
                [options]="pieChartOption"
                [plugins]="pieChartPlugin"
                [legend]="pieChartLegend"
            ></canvas>
        </div>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/quiz']" routerLinkActive="router-link-active" i18n> Add New Area</button>
</div>
