<div class="mini-container">
  <mat-card>
    <div class="form-container" >
        <app-app-main-logo-title></app-app-main-logo-title>
        <form (ngSubmit)="onSubmit()" #loginform="ngForm">
            <div class="aut-title-container">
                <h2 class="mat-h2 auth-title" i18n="login title | it show that it is a login page">Login </h2>
            </div>
            <mat-form-field appearance="outline">
                <mat-label for="email" i18n="Username label | it show the user name label">Username</mat-label>
                <input type="email" id="email" matInput name="email" placeholder="Enter your Email" #email="ngModel" required ngModel/>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="!email.valid && email.touched" i18n="email error | its a email error"> please enter valid email address</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="password"  i18n="Password label | it show the password label">Password</mat-label>
                <input id="password" [type]="isPasswordVisible?'text':'password'" matInput name="password" placeholder="Enter your password" #password="ngModel" required ngModel/>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{isPasswordVisible ?
                        "visibility"
                        : "visibility_off"}}
                </mat-icon>
                <mat-error *ngIf="!password.valid && password.touched" i18n="password error | its a pssoword error"> please enter valid password address</mat-error>
            </mat-form-field>
            <div class="forget-password-wrapper">
                <!-- <a class="forget-password-link" [routerLink]="['']" i18n="forget ancher">Forget Password?</a> -->
                <a class="forget-password-link" type="button" [routerLink]="['']" i18n="forget ancher" mat-button>Forget Passord?</a>
              </div>
            <button type="submit" color="primary" [disabled]="!loginform.valid" mat-raised-button i18n="continue button">continue</button>
        </form>
        <button class="auth-page-link" mat-flat-button [routerLink]="['/auth/signup']" i18n="signup ancher">want an Account? Sign up here</button>
    </div>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </mat-card>
</div>
