<div class="container">
    <h2>
        Welcome Player
    </h2>
    <img style="width:100px;margin-bottom: 50px;" src="https://play-lh.googleusercontent.com/_1MFftx1Wt1f4Nivx2FbD4KvhnClssYV9yTXNYBCf3yD1IIRoFEWus5SwzXOe29jHQ" alt="">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <h3 style="text-align: left;">Login with username</h3>
        <mat-form-field style="width: 100%;">
            <mat-label>Username</mat-label>
            <input type="email" matInput name="email" placeholder="Enter your Email" required #emailngModel/>
            
            <!-- <mat-error *ngIf="">please enter corrent email</mat-error> -->
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Password</mat-label>
            <input [type]="isVisible?'text':'password'" matInput name="password" placeholder="Enter your password" required ngModel/>
            <mat-icon matSuffix (click)="toggleVisibility()">
                {{isVisible ? 
                    "visibility"
                    : "visibility_off"}}
            </mat-icon>
        </mat-form-field>
        <div style="text-align: right;">
            <a [routerLink]="['']">Forget Password?</a>
        </div>   
        <button style="width: 100%;" type="submit" color="primary" [disabled]="!f.valid" mat-raised-button>continue</button>
    </form>
    <button style="margin:5px 0px 5px" mat-flat-button [routerLink]="['/signup']">want an Account? Sign up here</button>
</div>
