<div class="container">
    <div class="form-container">
        <app-app-main-logo-title></app-app-main-logo-title>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="aut-title-container">
                <div class="mat-h2 auth-title" >Login </div>
            </div>
            <mat-form-field appearance="outline">
                <mat-label for="emaili">Username</mat-label>
                <input type="email" id="email" matInput name="email" placeholder="Enter your Email" #email="ngModel" required ngModel/>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="!email.valid && email.touched"> please enter valid email address</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="password">Password</mat-label>
                <input id="password" [type]="isVisible?'text':'password'" matInput name="password" placeholder="Enter your password" #password="ngModel" required ngModel/>
                <mat-icon matSuffix (click)="toggleVisibility()">
                    {{isVisible ? 
                        "visibility"
                        : "visibility_off"}}
                </mat-icon>
                <mat-error *ngIf="!password.valid && password.touched"> please enter valid email address</mat-error>
            </mat-form-field>
            <div class="forget-password-wrapper">
                <a class="forget-password-link" [routerLink]="['']">Forget Password?</a>
            </div>   
            <button type="submit" color="primary" [disabled]="!f.valid" mat-raised-button>continue</button>
        </form>
        <button class="auth-page-link" mat-flat-button [routerLink]="['/auth/signup']">want an Account? Sign up here</button>
    </div>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
