@use '../../../abstracts/variables';

.question-list{
  text-align: left;

  mat-form-field{
    width: 100%;
  }

  .mat-select-wrapper>*{
    margin-right: 1em;
  }
  mat-card{
    width: 100%;
  }
  .card-content-wrapper{
    margin-bottom: 1em;
    .select-title{
      margin: 0px;
      margin-top: 1em;
    }
  }

  .cdk-drag-preview{
    box-sizing: border-box;
    border-radius: variables.$border-radius;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),0 8px 10px 1px rgba(0, 0, 0, 0.14),0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


  .list-wrapper{

  }

  .list-inner-wrapper{
    display: flex;
    .question-description{
      padding-left: 1em;
      min-width:300px;
      .description-line{
        width: inherit;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .creator-info{
      display: flex;
      align-items: center;
      .auther-img{
        img{
          width: 20px;
          height: 20px;
          border-radius: 2em;
        }
      }
      .auther-name{
        padding-left: 1em;
      }
    }
  }
}
