.setting-option-card{
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    &>*{
        vertical-align: middle;
    }
    .setting-option-icon{

    }
    .setting-option-title{
        margin: 0px;
    }
    .setting-option-subTitle{
        margin-top: 2px;
    }
    .side-arrow{
        position: absolute;
        right:2px;
        top: 30%;
        
    }
}