@import '~@angular/material/theming';

@mixin customButtonTheme($theme){
    $color:mat-get-color-config($theme);
    $typography: mat-get-typography-config($theme);

    @if $color != null{
        @include customButtonColor($color);
    }
    @if $typography != null{
        @include customButtonTypography($typography);
    }
}

@mixin customButtonColor($theme) {
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);
    $warn: map-get($theme,warn);
    
    .custom-button{
        background-color: mat-color($accent);
        // color: mat-color($accent);
    }
}

@mixin customButtonTypography($theme){

}