$media-xxs: 320px;
$media-xxs-standard: 360px;
$media-xs: 576px;
$media-sm: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xl-screen:1920px;
$media-notebook:1280px;
$media-leptop:1366px;
$media-macbook:1440px;
$media-monitor:1600px;