@use '../../../abstracts/mixins' as mixins;
.question-controller-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .question-controller-box{
    width: 100%;
    text-align: left;

    .categories-wrapper{
      mat-form-field{
      width: 130px;
      }
    }

    .title-wrapper{
      display: flex;
      justify-content: space-between;
    }

    .input-field-container{
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
    }

    .number-input-field{
      width: 80px;
    }

    .time-input-field{
      width: 120px;
    }

    .question-description-card{
      margin-bottom:1em;
      border:1px solid rgb(221, 221, 221);
      display: flex;

      .question-id{
        background-color: rgb(120, 118, 247);
        color: white;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: inherit;
      }
      .question-description{
        padding: 1em;
        width: 100%;
      }
    }


    .options-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .mat-form-wrapper{
        width: 45%;
        margin: 2px;
      }
      mat-form-field{
        width: 100%;
      }
    }

  }
}




@include mixins.for-phone-only{
  .question-controller-page{

    .title-wrapper{
      flex-wrap: wrap;
    }
    .input-field-container{
      flex-wrap: wrap;
    }
  }
}
