.clipped-div{
    // background-color: blueviolet;
    // border-radius: 5rem 5rem 5rem 5rem;
    // clip-path: circle(100%);
}
.title-bar{
    display: flex;
    align-items: center;
    .title{
        margin: 0px;
        flex: 1;
    }
}
.question{
    text-align: center;
    margin: 3em 0;
}


.quize-bottom-bar-wrapper{
    width: 100%;
    position: fixed;
    bottom: 0px;
    .quize-bottom-bar{
        position: relative;
        .spinner-container{
            position: absolute;
            text-align: center;
            width: 100%;
            top: -43px;
            right: 0;
            left: 0;
        }
        .spinner-wrapper{
            display: inline-block;
            position: relative;
            .progress-value{
                font-size: 1rem;
                font-weight: bold;
                position: absolute;
                top:34%;
                left:34%;
            }
        }
    }
}