
<div class="container">
    <div class="user-activity-card mat-elevation-z3" >
        <div class="user-avatar-and-title-wrapper">
            <div class="user-avatar">
                <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="">
            </div>
            <span class="user-activity-card-title">
                Someone's Name
            </span>
        </div>
        
        <div class="user-activity-card-action">   
            <button class="auth-button" [routerLink]="['/dashboard/user-activity']" mat-stroked-button color="primary">view acitivity</button>
            <button class="auth-button" mat-raised-button color="primary">Edit Profile</button> 
            <!-- <app-cst-circularborder-button value="view activity" [routerLink]="['/user-activity']"></app-cst-circularborder-button>
            <app-cst-circularborder-button value="Edit Profile"></app-cst-circularborder-button> -->
        </div>
        <mat-horizontal-stepper>
            <mat-step>
                
            </mat-step>
            <mat-step>
                
            </mat-step>
            <mat-step>
                
            </mat-step>
            <mat-step>
                
            </mat-step>
        </mat-horizontal-stepper>
        <h3> 0-day, streck Start your streck play now</h3>
    </div>
</div>