<div class="question-controller-page">
  <div class="question-controller-box">
    <mat-card>
      <div class="title-wrapper">
        <mat-card-title>
          Question Controller
        </mat-card-title>
        <div class="button-group">
          <button mat-raised-button color="primary">save</button>
          <button mat-raised-button color="primary">edit</button>
          <button mat-raised-button color="primary">dublicate</button>
        </div>
      </div>
      <mat-card-content>

        <div class="input-field-container">
          <div class="categories-wrapper form-field-group">
            <mat-form-field appearance="outline">
              <mat-label>category 1</mat-label>
              <mat-select>
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>category 2</mat-label>
              <mat-select>
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>category 3</mat-label>
              <mat-select>
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>category 4</mat-label>
              <mat-select>
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="time-and-points-filds-wrapper form-field-group">
            <mat-form-field class="number-input-field" appearance="outline">
              <mat-label>points</mat-label>
              <input type="number" matInput/>
            </mat-form-field>
            <mat-form-field class="time-input-field" appearance="outline">
              <mat-label>time</mat-label>
              <input type="time" matInput/>
            </mat-form-field>
          </div>
        </div>
        <app-question-display-box
          [questionId]="'i145'"
          [question]="'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur amet cum laborum modi, quis expedita molestiae fugiat eligendi similique. Cupiditate debitis vero repellat veniam molestias, eum officia illo doloribus similique.'"
        ></app-question-display-box>
        <app-file-uplode-dialog (fileData)="getFileData($event)" width="15"></app-file-uplode-dialog>
        <div class="options-box">
          <div class="mat-form-wrapper" *ngFor="let l of list">
            <mat-form-field  appearance="outline">
              <!-- <textarea matInput placeholder="option-1"></textarea> -->
              <input matInput placeholder="option-1"/>
              <span class="checkbox-wrapper" matSuffix>
                <mat-checkbox></mat-checkbox>
              </span>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
