.admin-page{
  mat-grid-tile{
    background-color: yellow;
  }
  mat-sidenav{
      width: 250px;
  }
  .mat-drawer-content{
    height:100%;
  }
  .drawer-content{
    padding-bottom: 0px;
  }

  mat-select{

  }
}
