<div class="mini-container profile_page">
  <mat-card>
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
            <h2 class="profile-title mat-h2" i18n>
                My Profile
            </h2>
            <div class="profile-subtitle mat-small" i18n>
                This information will be display
            </div>
            <div class="mat-formfield-wrapper">
              <mat-form-field appearance="outline">
                  <mat-label for="firstName" i18n="Username label | it show the user name label" i18n>First Name</mat-label>
                  <input type="text" id="firstName" matInput name="firstName" placeholder="Enter First Name" formControlName="firstName"/>
                  <!-- <mat-icon matSuffix>{{}}</mat-icon> -->
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label for="lastName" i18n="Username label | it show the user name label" i18n>Last Name</mat-label>
                  <input type="text" id="lastName" matInput name="lastName" placeholder="Enter Last Name" formControlName="lastName"/>
                  <!-- <mat-icon matSuffix>email</mat-icon> -->
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label for="displayName" i18n="Username label | it show the user name label" i18n>Public Display Name</mat-label>
                <input type="text" id="displayName" matInput name="displayName" placeholder="Enter Display Name" formControlName="displayName"/>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="about" i18n="Username label | it show the user name label" i18n>About Me</mat-label>
                <textarea rows="5" type="textarea" id="about" matInput placeholder="about you" name="about" formControlName="aboutMe"></textarea>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>

            <mat-expansion-panel (opened)="panelOpenState == true" (closed)="panelOpenState == false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon color="primary">videocam</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description i18n>
                        record your video
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <app-video-capturing></app-video-capturing>
                </div>
            </mat-expansion-panel>

            <button type="submit" [disabled]="!profileForm.valid" mat-raised-button color="primary" i18n>submit</button>

        </form>
    </div>
  </mat-card>
</div>

<!-- <div class="mat-display-1">mat-display-1</div>
<div class="mat-display-2">mat-display-2</div>
<div class="mat-display-3">mat-display-3</div>
<div class="mat-display-4">mat-display-4</div>
<div class="mat-headline">mat-headline</div>
<div class="mat-title">mat-title</div>
<div class="mat-subheading-1">mat-subheading-1</div>
<div class="mat-subheading-2">mat-subheading-2</div>
<div class="mat-body-1">mat-body-1</div>
<div class="mat-body-2">mat-body-2</div>
<div class="mat-caption">mat-caption</div>
<button class="mat-button">button</button>
<input class="mat-input" value="input"/> -->
