<div class="container">
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <h2 class="profile-title mat-h2" i18n>
                My Profile
            </h2>
            <div class="profile-subtitle mat-small" i18n>
                This information will be display
            </div>
            <mat-form-field appearance="outline">
                <mat-label for="firstName" i18n="Username label | it show the user name label" i18n>First Name</mat-label>
                <input type="text" id="firstName" matInput name="firstName" placeholder="Enter First Name" #email="ngModel" required ngModel/>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="lastName" i18n="Username label | it show the user name label" i18n>Last Name</mat-label>
                <input type="text" id="lastName" matInput name="lastName" placeholder="Enter Last Name" #lastName="ngModel" required ngModel/>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="displayName" i18n="Username label | it show the user name label" i18n>Public Display Name</mat-label>
                <input type="text" id="displayName" matInput name="displayName" placeholder="Enter Display Name" #displayName="ngModel" required ngModel/>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="about" i18n="Username label | it show the user name label" i18n>About Me</mat-label>
                <textarea rows="5" type="textarea" id="about" matInput placeholder="about you" name="about" #about="ngModel" required ngModel></textarea>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
            </mat-form-field>
            
            <button type="submit" mat-raised-button color="primary" i18n>submit</button>
            
        </form>
    </div>
</div>
<!-- <webcam [width]="width"></webcam>
<button>capture</button>
<button>record</button> -->