@use '../../../abstracts/variables';
.container{
  text-align: center;
}

.user-activity{

.user-subject-card{
    min-width: 250px;
    padding: 0.5em;
    margin: 0.2em;

    border-radius: variables.$border-radius;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .user-selected-subject{
        // width: 120px;
        img{
            border-radius: 5px;
            object-fit: cover;
            width: 120px;
            height: 100px;
        }
    }
    .user-progress-chart{
        width: 150px;
        canvas{
            width: 100%;
        }
    }
}
}
