@use '../../../abstracts/variables';

.activities-page{

  .user-activity-card{
      margin: auto;
      padding: 1rem;
      border-radius: variables.$border-radius;
      max-width: 500px;
      text-align: center;

      .user-avatar-and-title-wrapper{
          margin: 1.5em;
          &>*{
              vertical-align: middle;
          }
      }
      .user-activity-card-title{
          font-size: 1rem;
      }
      .user-avatar{
          display: inline-block;
          overflow: hidden;
          border-radius: 20px;
          object-fit: cover;
          width: 40px;
          height: 40px;
      }
      .user-activity-card-action{
      }
      img{
          width: 100%;
      }
      .auth-button{
          margin: 0.2em;
          min-width: 120px
      }
  }
}
