<div class="bottom-nav">
    <div class="n-link">
        <mat-icon>home</mat-icon>
        <div>
            <span>Home</span>
        </div>
    </div>
    <div class="n-link">
        <mat-icon>home</mat-icon>
        <div>
            <span>Home</span>
        </div>
    </div>
    <div class="n-link">
        <mat-icon>home</mat-icon>
        <div>
            <span>Home</span>
        </div>
    </div>
    <div class="n-link">
        <mat-icon>home</mat-icon>
        <div>
            <span>Home</span>
        </div>
    </div>
</div>