.mini-container{
    text-align: center;
}
.form-container{
    mat-form-field{
        width: 100%;
    }
    button[type="submit"]{
        margin-top: 3em;
    }
}
.auth-title{
    text-align: left;
}
.auth-page-link{
    margin-top:1em;
}

.app-footer{
    position: fixed;bottom: 0px;z-index:1;
}
