@use '../../../abstracts/mixins' as mixin;

.admin-dashboard{
  .title-wrapper{
    display: flex;align-items: center;
  }
  .title{
    font-weight:bolder;
    margin: 0;
  }

  .title-nav{
    display: flex;
    margin-bottom: 0.5em;

    .page-header{
      margin: 0;
    }
  }
  mat-form-field .mat-form-field-wrapper{
    padding: 0px;
  }

  .user-description{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box!important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
  }


}

@include mixin.for-phone-only{
  .admin-dashboard{
    .title-nav{
      flex-wrap: wrap;
    }
  }
}
