<div class="side-nav">
    <button mat-button [routerLink]="['']">home</button>
    <button mat-button [routerLink]="['/auth/login']">login</button>
    <button mat-button [routerLink]="['/auth/signup']">signup</button>
    <button mat-button [routerLink]="['/auth/otpverify']">otpverify</button>
    <button mat-button [routerLink]="['/dashboard/user-activity']">user activity</button>
    <button mat-button [routerLink]="['/dashboard/activities']">activities</button>
    <button mat-button [routerLink]="['/quize']">quize</button>
</div>
