<div class="side-nav">
    <!-- <button mat-button [routerLink]="['']">home</button>
    <button mat-button [routerLink]="['/auth/login']">login</button>
    <button mat-button [routerLink]="['/auth/signup']">signup</button>
    <button mat-button [routerLink]="['/auth/otpverify']">otpverify</button>
    <button mat-button [routerLink]="['/dashboard/user-activity']">user activity</button>
    <button mat-button [routerLink]="['/dashboard/activities']">activities</button>
    <button mat-button [routerLink]="['/quize']">quize</button> -->
    <mat-nav-list>
        <mat-list-item [routerLink]="['/user/setting']" routerLinkActive i18n>
            <mat-icon mat-list-icon> settings</mat-icon>
            setting
        </mat-list-item>
        <mat-list-item [routerLink]="['/user']" routerLinkActive i18n>
            <mat-icon mat-list-icon> face</mat-icon>
            profile
        </mat-list-item>
        <mat-list-item [routerLink]="['/auth/login']" routerLinkActive>
            login
        </mat-list-item>
        <mat-list-item [routerLink]="['/auth/signup']" routerLinkActive>
            signup
        </mat-list-item>
        <mat-list-item [routerLink]="['/auth/otp-verify']" routerLinkActive>
            otp-verify
        </mat-list-item>
        <mat-list-item [routerLink]="['/dashboard']" routerLinkActive>
            user-activity
        </mat-list-item>
        <mat-list-item [routerLink]="['/dashboard/activities']" routerLinkActive>
            activities
        </mat-list-item>
        <mat-list-item [routerLink]="['/quiz']" routerLinkActive>
            quiz
        </mat-list-item>
        <mat-list-item [routerLink]="['/quiz/question-display']" routerLinkActive>
            question-display
        </mat-list-item>
        <mat-list-item [routerLink]="['/quiz/congrats']" routerLinkActive>
            congrats
        </mat-list-item>
        <mat-list-item (click)="logout()" routerLinkActive>
            logout
        </mat-list-item>
    </mat-nav-list>
</div>
