:host{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

// .cst-bottom-nav{
//   // background-color: white;
//   margin: 0 1em 0.5em;
//   padding: 0.3em 2em;
//   min-width: 238px;
//   display: flex;
//   justify-content: space-between;
//   border-radius: 30px;
//   // box-shadow: 0px 1px 1px 1px rgb(187, 187, 187);
//   .active .mat-icon{
//       color: inherit;
//   }
//   .n-link{
//       cursor: pointer;
//       display: flex;
//       padding: 5px;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//   }
// }
