<div class="cst-container">
    <!-- <mat-toolbar>
        <app-header (clickEvent)="drawer.toggle()"></app-header>
        <span class="mrg-auto">Quize</span>
    </mat-toolbar> -->
    <app-header (clickEvent)="drawer.toggle()"></app-header>
    <mat-drawer-container class="drawer-container">
        <mat-drawer class="mat-side-drawer" #drawer position="end">
            <app-side-nav ></app-side-nav>
        </mat-drawer>
        <mat-drawer-content class="drawer-content" >
            <div style="width:100%">
                <div class="container">
                    <h2 >Choose your path</h2>

                    <owl-carousel-o *ngFor="let item of items" [options]="carouselOptions">
                        <ng-template carouselSlide>
                            <img class="image" src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png"  alt="">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img class="image" src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png"  alt="">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img class="image" src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png"  alt="">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img class="image" src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png"  alt="">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img class="image" src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png"  alt="">
                        </ng-template>
                        <ng-template carouselSlide>
                            <img class="image" src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png"  alt="">
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <app-cst-bottom-nav></app-cst-bottom-nav>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
