<div class="cst-container">
    <!-- <mat-toolbar>
        <app-header (clickEvent)="drawer.toggle()"></app-header>
        <span class="mrg-auto">Quize</span>
    </mat-toolbar> -->
    <app-header (clickEvent)="drawer.toggle()"></app-header>
    <mat-drawer-container class="drawer-container">
        <mat-drawer class="mat-side-drawer" #drawer position="end">
            <app-side-nav ></app-side-nav>
        </mat-drawer>
        <mat-drawer-content class="drawer-content" >
            <div style="width:100%">
                <h2 style="text-align: center;">Choose your path</h2>
                <!-- <mat-grid-list cols="2">
                    <mat-grid-tile *ngFor="let item of dataList">
                        {{item.title}}
                    </mat-grid-tile>
                </mat-grid-list> -->
                <img src="https://www.pngkey.com/png/full/367-3676905_rocket-icon-vector-circle.png" style="width: 200px;" alt="">
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
