.mini-container{
    text-align: center;
}
button{
    margin-top: 4em;
    width:100%;
}
.title-container{
    text-align: left;
    margin-bottom: 3em;
    .title{
        max-width: 200px;
    }
}
