.container{
    max-width: 450px;
    text-align: center;
    padding: 1rem;
}
button{
    margin-top: 50px;
    width:100%;
}
.title-container{
    text-align: left;
    margin-bottom: 3rem;
    .title{
        max-width: 200px;
    }
}