@use '../../../abstracts/mixins';
@use '../../../abstracts/variables';

.add-game-page{
  text-align: left;

  .description-card{
    border: 1px solid rgb(209, 209, 209);
    max-width: 800px;
    border-radius: variables.$border-radius;
    overflow: hidden;
    display: flex;
    .description{
      flex: 1;
      padding: 1em;
      padding-left:2em;
      textarea{
        font-size: 1em;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
      }
    }
  }
  .basic-detail{
    display: flex;
  }
  .mat-formfield-wrapper>*:not(:last-child){
    margin-right: 1em;
  }
}

@include mixins.for-phone-only{
  .add-game-page{
    mat-form-field{
      width: 100%;
    }
    .basic-detail{
      flex-wrap: wrap;
    }
    .mat-formfield-wrapper>*:not(:last-child){
      margin-right: 0;
    }
  }
}
