/* You can add global styles to this file, and also import other style files */

@use '~@angular/material/theming' as mat;
@use '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel' as *;
@use '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as *;
@use './styles/main';

@include mat.mat-core();



html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;min-height: 100vh;}



//light theme
$light-theme-primary: mat.mat-palette(mat.$mat-indigo,500);
$light-theme-accent: mat.mat-palette(mat.$mat-pink,A200,A100,A400);
$light-theme: mat.mat-light-theme($light-theme-primary,$light-theme-accent);

//dartktheme
$dark-theme-primary: mat.mat-palette(mat.$mat-amber,A200);
$dark-theme-accent: mat.mat-palette(mat.$mat-yellow,900);
$dark-theme: mat.mat-dark-theme($dark-theme-primary,$dark-theme-accent);




$custom-typography: mat.mat-typography-config(
  $font-family:'Lato, sans-serif',
  $title: mat.mat-typography-level(20px,32px,500)
  );

  // $display-4:
  // $display-3:
  // $display-2:
  // $display-1:
  // $headine:
  // $title:
  // $subheading-2:
  // $body-2:
  // $body-1:
  // $caption:
  // $button:
  // $input:



.cst-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.button-group>*:not(:last-child){
  margin-right: 0.5em;
}
.space-box{
  flex: 1 1 auto;
}
.width-100{
  width: 100%;
}




.cst-card-border-radius{
    border-radius: 10px;
}



.dark-theme{
    @include mat.angular-material-theme($dark-theme);
}
.light-theme{
    @include mat.angular-material-theme($light-theme);
}
@include mat.mat-core($custom-typography);
// @include customButtonTheme($light-theme);
