/* You can add global styles to this file, and also import other style files */

@use '~@angular/material/theming' as mat;
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@include mat.mat-core();
@import './styles/main.scss';
@import './app/shared/layout/cst-circularborder-button/cst-circularborder-button.theming.scss';



html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;} 




$light-theme-primary: mat.mat-palette($mat-indigo,500);
$light-theme-accent: mat.mat-palette($mat-pink,A200,A100,A400);
$light-theme: mat.mat-light-theme($light-theme-primary,$light-theme-accent);
$dark-theme: mat.mat-dark-theme($light-theme-primary,$light-theme-accent);






.cst-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;   
    right: 0;
}
.drawer-container{
    flex: 1;
}
.drawer-content{
    padding-bottom: 70px;
}
.space-box{
    flex: 1 1 auto;
}



.mat-side-drawer{ 
    width: 220px;
}
.cst-card-border-radius{
    border-radius: 10px;
}



.dark-theme{
    @include angular-material-theme($dark-theme);
}
.light-theme{
    @include angular-material-theme($light-theme);
}
// @include customButtonTheme($light-theme);