
.initial-title{
    text-align: left;
}
.game-code-container{
    padding: 1em;
    margin-bottom: 5em;
    mat-form-field{
        width: 100%;
    }
    button[type="submit"]{
        width: 100%;
    }
}


.red{
    box-shadow: 0px 0px 1px 2px red;
}
.auth-route-container{
    text-align: center;
    padding: 1em;
    .auth-button{
        margin: 0.2em;
        min-width: 140px
    }
}
