


.container{
    max-width: 450px;
    padding: 1rem;
}

.initial-title{
    text-align: left;
}
.game-code-container{
    // box-shadow: 0px 0px 1px 2px #e2e0e0;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 50px;
    mat-form-field{
        width: 100%;
    }
    button[type="submit"]{
        width: 100%;
    }
}


.red{
    box-shadow: 0px 0px 1px 2px red;
}
.auth-route-container{
    border-radius: 2px;
    // box-shadow: 0px 0px 1px 2px #e2e0e0;
    text-align: center;
    padding: 10px;
    .auth-button{
        margin: 2px;
        min-width: 120px
    }
}